# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# macOS
.DS_Store

# Node
node_modules/

# Python
__pycache__/
.venv/

# Env files
.env
.env.*
